name: Basic CI

on:
  push:
    branches: [ master ]

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: show message
        run: echo "GitHub Actions works!"
