name: Security Checks

on:
  pull_request:
    branches: [ master ]
permissions:
  contents: read
  issues: write
  pull-requests: write

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Chout repo
        uses: actions/checkout@v4

      - name: Run security
        run: |
          echo "Security checks placeholder"

      - name: Add security label
        if: success()
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: security-passed
